<ul id="mastmenu">
  <li><a  href="index.php?pag={LINK}" {SELECTED_ADMIN}><span class="administration"><strong>[!L!]Administration[!/L!]</strong></span></a></li>
  <!--li id="hlp-trigger2"><a href="{HELP_LINK}"  target="_blank" {SELECTED_HELP}><span class="help"><strong>[!L!]Help[!/L!]</strong></span></a></li-->
  <li ><a href="help.php?pag=support" {SELECTED_SUPPORT}><span class="support"><strong>[!L!]Support[!/L!]</strong></span></a></li>

<div id="main_search_wrapperw">
  <a href="index.php?pag=universalsearch" id="universalsearch">[!L!]Search in CYCLOPE reports[!/L!]</a>
 </div>
</ul>