<ul id="mastmenu">
  <li ><a href="index.php?pag=simpleoverview" {SELECTED_SIMPLE}><span class="simpleview"><strong>[!L!]Quick Reports[!/L!]</strong></span></a></li>
  <li ><a href="index.php?pag=overview" {SELECTED_STATS}><span class="statistics"><strong>[!L!]All Reports[!/L!]</strong></span></a></li>
  <li><a href="#" {SELECTED_ADMIN}><span class="administration"><strong>[!L!]Administration[!/L!]</strong></span></a></li>
  <!--li id="hlp-trigger"><a href="{HELP_LINK}" {SELECTED_HELP}><span class="help"><strong>[!L!]Help[!/L!]</strong></span></a></li-->
  <li id="support"><a class="" href="help.php?pag=support"><span class="support"><strong>[!L!]Support[!/L!]</strong></span></a></li>
</ul>