	<ul id="secmenu">
      <li class="small {PARENT1}">
        <ul>
          <li><a href="#" class="{MONITORED}"><span>[!L!]Monitored Employees[!/L!]</span></a></li>
          <li><a href="#" class="{MEMBERS}{MEMBER}"><span>[!L!]Administrative Users[!/L!]</span></a></li>
          <li><a href="#" class="{GROUPS}"><span>[!L!]Departments[!/L!]</span></a></li>
        </ul>
      </li>
      <li class="large {PARENT2}">
        <ul class="first">
          <li><a href="#" class="{SETTINGS} {CASUALTY}"><span>[!L!]Settings[!/L!]</span></a></li>
		  <li><a href="#" class="{EMAILREPORTS}{EMAILREPORT}"><span>[!L!]Reports by Email[!/L!]</span></a></li>
          <li><a href="#" class="{ALERTS}{ALERT}"><span>[!L!]Alerts[!/L!]</span></a></li>
        </ul>
      </li>
      <li class="large {PARENT3}">
        <ul class="second">
          <li><a href="#" class="{APPLICATIONS}{APPLICATION}"><span>[!L!]Applications[!/L!]</span></a></li>
          <li><a href="#" class="{CATEGORIES}{CATEGORY}"><span>[!L!]Activity Categories[!/L!]</span></a></li>
		</ul>
      </li>
      <li class="large {PARENT4}">
        <ul class="third">
          <li><a href="#" class="{LOG}"><span>[!L!]Logs Management[!/L!]</span></a></li>
          <li><a href="#" class="{NOTIFICATIONS}{NOTIFICATION}"><span>[!L!]Notifications[!/L!]</span></a></li>
		  <li><a href="#" class="{COLORTHEMES}{COLORTHEME}"><span>[!L!]Color Themes[!/L!]</span></a></li>
		 </ul>
      </li>
      <li class="small {PARENT5}">
        <ul>
          <li><a href="#" class="{LICENSING}"><span>[!L!]Licensing[!/L!]</span></a></li>
		  <li><a href="#" class="{UPDATES}"><span>[!L!]Updates[!/L!]</span></a></li>
		  <li><span style="line-height:24px">&nbsp;</span></li>
        </ul>
      </li>
    </ul>