<ul id="secmenu">
<li class="full active">
  <ul>
    <li><a href="index.php?pag=alerts"><span>[!L!]Alerts[!/L!]</span></a></li>
    <li><a href="index.php?pag=settings" class="{SETTINGS}"><span>[!L!]Settings / Work Schedule[!/L!]</span></a></li>
    <li><a href="index.php?pag=applications" class="{APPLICATIONS}{APPLICATION}"><span>[!L!]Applications[!/L!]</span></a></li>
    <li><a href="index.php?pag=categories" class="{CATEGORIES}{CATEGORY}"><span>[!L!]Activity Categories[!/L!]</span></a></li>
  </ul>
</li>
</ul>