{PDF_HEADER}<!-- BEGIN DYNAMIC BLOCK: ajax -->
<div id="applicationusage">
 
   <!--  <h1>{PAGE_TITLE} <span id="append">{APPEND}</span></h1>
  <ul class="filter"{PDF_HIDE}>
    <li class="time"> [!L!]Filters[!/L!] 
      <input type="text" name="time[time]" class="flobn-range" id="time-filter" value="{DEFAULT_VALUE}" /><span class="tooltip" {PDF_HIDE} title="[!L!]Select the desired time frame. The default value is Today's date.[!/L!]">?</span>
      <input type="hidden" name="sortcolumn" class="sortcolumn" id="sortcolumn" />
      <input type="hidden" name="sortorder" class="sortorder" id="sortorder" />
    </li>
  <li class="export"> <a href="{HELP_LINK}" target="_blank" id="export-help" {SELECTED_SUPPORT}>[!L!]Explain report[!/L!]</a> <a href="index.php?pag=emailreport&preset=7" id="export-email" >[!L!]Send Email[!/L!]</a> <a href="#" id="export-csv" >[!L!]Download CSV[!/L!]</a><a href="#" id="export-xls" >[!L!]Download XLS[!/L!]</a>  <a href="#" target="_blank" id="export-pdf" >[!L!]Generate PDF[!/L!]</a> </li>
  </ul> -->

  <div class="col-md-12 p-0 overtitle">
  <ul class="filter" {PDF_HIDE}>
  <li class="col-md-12 time text-left p-0"><h1>{PAGE_TITLE} <div class="main-btn"><span class="cyclope"  id="append">{APPEND}</span></div></h1>

     

     <!--  <img data-toggle="tooltip" data-placement="top" title="Select the desired time frame. The default value is Today's date." src="{CURRENT_VERSION_FOLDER}assets/images/tooltip.png"> -->

    </li>

      <li class="col-md-12 export text-right p-0 time">
      	<div class="pull-left">
      	 	<span class="filter-img"><img src="{CURRENT_VERSION_FOLDER}assets/images/filter.png" class="filter_icon"></span>
      
			      <input type="text" name="time[time]" class="flobn-range" id="time-filter" value="{DEFAULT_VALUE}" />

			 <div class="tooltipcustom">?
			  <span class="tooltiptext">[!L!]Select the desired time frame. The default value is Today's date.[!/L!]</span>
			</div>
      	</div>
      	<div class="pull-right">
	         <a href="{HELP_LINK}" target="_blank" id="export-help" {SELECTED_SUPPORT}><img src="{CURRENT_VERSION_FOLDER}assets/images/help_menu.png"></a>

	         <a href="index.php?pag=emailreport&preset=7" id="export-email" ><img src="{CURRENT_VERSION_FOLDER}assets/images/email.png"></a>

	         <a href="#" id="export-csv" ><img src="{CURRENT_VERSION_FOLDER}assets/images/csv.png" class="csv"></a>
	         <a href="#" id="export-xls" ><img src="{CURRENT_VERSION_FOLDER}assets/images/xls1.png" class="xls"></a>

	         <a href="#" target="_blank" id="export-pdf" ><img src="{CURRENT_VERSION_FOLDER}assets/images/pdf.png" class="pdf"></a>
         </div>
      </li>
     </ul>
  </div> 

  
  <div class="bd-ajax">
    <!-- END DYNAMIC BLOCK: ajax -->
    <div class="pagetabs col-sm-12 p-0 applicationtab">
      <ul class="toolbar"{PDF_HIDE}>
        <li class="ui-tabs-selected aggregated"><a href="#aggregated"><span>[!L!]Aggregated[!/L!]</span></a></li>
        <div class="tooltipcustom">?
  <span class="tooltiptext">[!L!]Displays a list of all used applications by the selected employee or the selected department in an aggregated state. This report can be filtered by date and working schedule.[!/L!]</span>
</div>
        <!--<li class="peruser"><a href="#peruser"><span>[!L!]Per Employee[!/L!]</span></a></li> -->
      </ul>
      <div id="aggregated" class="tab">
        {NO_DATA_MESSAGE}{ENCRYPTMESSAGERAW}
	<!-- 	<img data-toggle="tooltip" data-placement="top" title="Displays a list of all used applications by the selected employee or the selected department in an aggregated state. This report can be filtered by date and working schedule." src="{CURRENT_VERSION_FOLDER}/assets/images/tooltip.png" data-original-title="[!L!]Displays a list of all used applications by the selected employee or the selected department in an aggregated state. This report can be filtered by date and working schedule.[!/L!]"> -->
    
		<div id="appusage_chart"  class="{HIDE_CONTENT}">{APPUSAGE_CHART_OUTPUT}</div>
	  {DEBUGMESSAGE}
        <table cellspacing="0" class="table list application topapplications {HIDE_CONTENT}" >
          <thead>
            <tr>
              <th class="first-of-type"><strong><a {ANCHOR_INNER_1} href="">[!L!]Application[!/L!]</a></strong></th>
              <th><strong>[!L!]Category[!/L!]</strong></th>
              <th style="min-width: 120px;"><strong><a {ANCHOR_INNER_0} href="">[!L!]Time[!/L!]</a></strong></th>
              <th class="th-activeperc"><strong>[!L!]% from Active Time[!/L!]</strong></th>
            </tr>
          </thead>
          <tbody>
            <!-- BEGIN DYNAMIC BLOCK: template_row -->
            <tr data-department="{DEPARTMENT}">
              <td><b style="background-color:#{COLOR}"></b>{NAME}</td>
              <td><span class="{HIDE_OTHER_CATEGORY}"><a href="#" class="category" rel="{APPLICATION_ID}"  rev="#cat{CATEGORY_ID}" name="{CAT_TYPE}">{CATEGORY}</a></span></td>
              <td><span>{TIME}</span></td>
              <td class="td-activeperc"><div>{PROCENT}%</div></td>
            </tr>
            <!-- END DYNAMIC BLOCK: template_row -->
          </tbody>
        </table>
        <table cellspacing="0" class="table list application topapplications hide" id="otherstats">
          <tbody>
            <!-- BEGIN DYNAMIC BLOCK: template_other_row -->
            <tr data-department="{OTHER_DEPARTMENT}">
              <td style=" padding-left:24px;"><b style="background-color:#{OTHER_COLOR}"></b>{OTHER_NAME}</td>
              <td><a href="#" class="category" rel="{OTHER_APPLICATION_ID}" name="{OTHER_CAT_TYPE}">{OTHER_CATEGORY}</a></td>
              <!--<td style="width:96px;"><div class="flobn-slider {OTHER_CSS_CLASS}"></div>
                <div style="text-align:center;">{OTHER_CSS_CLASS}</div></td>
              -->
              <td class="flobn-datatable-body">{OTHER_TYPE_INPUT}
                <span  class="procentbar-text" >{OTHER_TYPE}</span></td>
              <td><span>{OTHER_TIME}</span></td>
              <td class="td-activeperc"><div>{OTHER_PROCENT}%</div></td>
            </tr>
            <!-- END DYNAMIC BLOCK: template_other_row -->
          </tbody>
        </table>
      </div>
      <div id="peruser" class="tab ui-tabs-hide" style="display:none;"> {PERUSER_TABLE} </div>
    </div>
    <!-- BEGIN DYNAMIC BLOCK: ajax -->
  </div>
</div>
<!-- END DYNAMIC BLOCK: ajax -->
