<!-- BEGIN DYNAMIC BLOCK: ajax -->
<div id="applicationforms">
<div class="col-md-12 p-0 overtitle">
<ul class="filter">
<li class="col-md-12 time text-left p-0">
  <h1>{PAGE_TITLE} 
  <div class="main-btn">
    <span id="append" class="cyclope">{APPEND}</span>
  </div>
      
      
  </h1></li>
</ul>
  
  <form method="post" action="index.php" id="frm">
    <input type="hidden" name="pag" value="{PAG}" />
      <ul class="filter p-t-0">
        <li class="time"> <span class="filter-img"><img src="{CURRENT_VERSION_FOLDER}assets/images/filter.png" class="filter_icon"></span>
        <div class="tooltipcustom m-r-5">?
                    <span class="tooltiptext">[!L!]Select the desired time frame. The default value is Today's date.[!/L!]</span>
                  </div>
          <input type="text" name="time[time]" class="flobn-range" id="time-filter" value="{DEFAULT_VALUE}" />
          

        </li>
        <li class="app">
            <span class="app ddrow-parent m-t-5">
                <select name="app" id="app-filter" class="flobn-ddrow" title="filter by application">
              <option value="-1">[!L!]filter by application[!/L!]</option>
              {APPS}
            </select>
            <div class="tooltipcustom m-l-5">?
                    <span class="tooltiptext">[!L!]By selecting an application from this list you will narrow the displayed results to the active and idle time spent using that specific application. This report can also be filtered by date and working schedule.[!/L!]</span>
                  </div>
            </span>
        </li>
      
         <li class="export"> 

         <div class="pull-right">
             <a href="{HELP_LINK}" target="_blank" id="export-help" {SELECTED_SUPPORT}><img src="{CURRENT_VERSION_FOLDER}assets/images/help_menu.png"></a>

             <a href="index.php?pag=emailreport&preset=12" id="export-email" ><img src="{CURRENT_VERSION_FOLDER}assets/images/email.png"></a>

             <a href="index.php?pag=applicationforms&act=reports-applicationforms{EXPORT_APP_FILTER}" id="export-csv" ><img src="{CURRENT_VERSION_FOLDER}assets/images/csv.png" class="csv"></a>
             <a href="index.php?pag=applicationforms&act=reports-applicationforms&format=xls{EXPORT_APP_FILTER}" id="export-xls" ><img src="{CURRENT_VERSION_FOLDER}assets/images/xls1.png" class="xls"></a>

             <a href="index.php?pag=applicationforms&render=pdf{EXPORT_APP_FILTER}" target="_blank" id="export-pdf" ><img src="{CURRENT_VERSION_FOLDER}assets/images/pdf.png" class="pdf"></a>
             </div>
      </li>
    </ul>
  </form>
  <div class="bd-ajax">
    <!-- END DYNAMIC BLOCK: ajax -->{ENCRYPTMESSAGERAW}
    {APP_FORMS}
    <!-- BEGIN DYNAMIC BLOCK: ajax -->
  </div>
  </div>
</div>
<!-- END DYNAMIC BLOCK: ajax -->