<div class="selectemployee">
<fieldset>
  <div class="row">
     <div class="req col-sm-4">
        <label for="email">[!L!]Name[!/L!]</label>
        <span>
        <input type="text" name="name" value="{NAME}" />
        </span>
    </div>
  
  
    <div  class="req col-sm-4">
          <label for="description">[!L!]Description[!/L!]</label>
          <span>
          <input type="text" name="description" id="description" value="{DESCRIPTION}" />
          </span>
    </div>
    </div>
    <div class="btn"> <button class="back"><a href="#" class="back">[!L!]Previous[!/L!]</a></button>
        <!--button type="submit" class="next">[!L!]Finish[!/L!]</button-->
        <button type="submit" name="test" value="test" class="next">[!L!]Finish[!/L!]</button>
    </div>
   
  </fieldset>
</div>