<div class="selectemployee">
<fieldset>
	<div class="row">
<div class="btn">
	<a href="#" class="emailadd"><img src="{CURRENT_VERSION_FOLDER}img/wizard_add.png" alt="" /></a>
</div>
<!-- BEGIN DYNAMIC BLOCK: template_row -->

 <div class="receiver req col-sm-3">
  <label for="email_report_receiver">[!L!]Email[!/L!]</label>
  <span>
  <input type="text" name="email_report_receiver[]" value="{EMAIL}" />
  </span><a href="#" class="emailremove"><img src="{CURRENT_VERSION_FOLDER}img/minus.png" /></a></div>
<!-- END DYNAMIC BLOCK: template_row -->
<div class="btn"> <a href="#" class="back"><img src="{CURRENT_VERSION_FOLDER}img/wizard_left.png" width="16" height="16" alt="" />[!L!]Previous[!/L!]</a>
    <button type="submit" class="next">[!L!]Next[!/L!]<img src="{CURRENT_VERSION_FOLDER}img/wizard_right.png" width="16" height="16" alt="" /></button>
  </div>  </div>
</fieldset>
</div>