<div class="selectemployee">
<fieldset>
	<div class="row">
<div class="btn-plus">
	<a href="#" class="emailadd"><img src="{CURRENT_VERSION_FOLDER}img/plus.png" alt="" /></a>
</div>
<!-- BEGIN DYNAMIC BLOCK: template_row -->	
 <div class="receiver req col-sm-3">
  <label for="email_report_receiver">[!L!]Email[!/L!]</label>
  <span>
  <input type="text" name="email_report_receiver[]" value="{EMAIL}" />
  </span><a href="#" class="emailremove"><img src="{CURRENT_VERSION_FOLDER}img/minus.png" /></a></div>
<!-- END DYNAMIC BLOCK: template_row -->
<div class="btn">
<button  class="back"> <a href="#">[!L!]Previous[!/L!]</a></button>
    <button type="submit" class="next">[!L!]Next[!/L!]</button>
  </div>  </div>
</fieldset>
</div>
