<fieldset>
  <div class="extrareporttoggle">
   <div class="chk req">
       <label for="daily">
        <input type="checkbox" name="frequency[]" value="1" {DAILY_CHECKED}  id="daily"/>
        [!L!]Daily[!/L!]</label>
    </div>
	<div class="chk even req">
      <label for="weekly">
        <input type="checkbox" name="frequency[]" value="2" {WEEKLY_CHECKED} id="weekly"  />
        [!L!]Weekly[!/L!]</label>
    </div>
	<div class="chk req">
      <label for="monthly">
        <input type="checkbox" name="frequency[]" value="3" {MONTHLY_CHECKED} id="monthly"  />
        [!L!]Monthly[!/L!]</label>
    </div>
  <div class="btn"><button class="back"> <a href="#">[!L!]Previous[!/L!]</a></button>
    <button type="submit" class="next">[!L!]Next[!/L!]</button>
  </div>
</div>
</fieldset>