<div class="selectemployee">
<div class="info">[!L!]Leave this field empty if you don't have a preffered sender address.[!/L!]</div>
<fieldset>
	<div class="row">
<!--<div class="btn">
	<a href="#" class="emailadd"><img src="{CURRENT_VERSION_FOLDER}img/wizard_add.png" width="16" height="16" alt="" /></a>
</div>-->
<!-- BEGIN DYNAMIC BLOCK: template_row -->	
 <div class="sender col-sm-3">
  <label for="email_report_sender">[!L!]Email[!/L!]</label>
  <span>
  <input type="text" name="email_report_sender[]" value="{EMAIL}" />
  <!--</span><a href="#" class="emailremove"><img src="{CURRENT_VERSION_FOLDER}img/minus.png" /></a>--></div>
<!-- END DYNAMIC BLOCK: template_row -->
<div class="btn"> <button  class="back"><a href="#">[!L!]Previous[!/L!]</a></button>
    <button type="submit" class="next">[!L!]Next[!/L!]</button>
  </div>  
</div>
</fieldset>
</div>
