
<div class="box active monitored">
    <!-- <h3>[!L!]Employees and Computers[!/L!] -->
   <span id="headlinebtns" class="right sidebarcollapse"></span>
  </h3>
  <div class="tabs">
    <ul class="toolbar tree-wo-computers">
      <li class="ui-tabs-selected session"><a href="#sessions" rel="Logon">[!L!]Logon[!/L!]</a></li>
      <li class="users"><a href="#users" rel="Employee">[!L!]Employees[!/L!]</a></li>
      <li class="computers"><a href="#computers" rel="Computer">[!L!]Computers[!/L!]</a></li>
    </ul>
    <div id="sessions" class="tab">[!L!]1[!/L!]</div>
    <div id="users" class="tab ui-tabs-hide">[!L!]2[!/L!]</div>
    <div id="computers" class="tab ui-tabs-hide">[!L!]3[!/L!]</div>
  </div>
  <div class="expande_div">
    <div class="text-left">
        <h1>[!L!]Expand / collapse tree[!/L!]</h1>
    </div>
    <div class="text-right">
        <i class="fa fa-plus" aria-hidden="true" onclick="$('#sessions,#users,#computers').jstree('open_all');"></i>
        <!-- <img src="{CURRENT_VERSION_FOLDER}assets/images/plus.png" class="minus" onclick="$('#sessions,#users,#computers').jstree('open_all');" > -->
        <i class="fa fa-minus" aria-hidden="true" onclick="$('#sessions,#users,#computers').jstree('close_all');"></i>
        <!-- <img src="{CURRENT_VERSION_FOLDER}assets/images/minus.png" class="plus" onclick="$('#sessions,#users,#computers').jstree('close_all');"> -->
    </div>
</div>
</div>

<div id="filter-box">
    <div class="rightsearch">
        <input id="filter" name="filter" value="[!L!]Search {FILTER}[!/L!]" />
        <script type="text/javascript" src="{CURRENT_VERSION_FOLDER}ui/sidebar-ui.js"></script>
  </div>
</div>

<div id="manage_setting">
    <a href="index.php?pag=groups">
      <!-- <img src="{CURRENT_VERSION_FOLDER}assets/images/setting.png"> -->
      <i class="fa fa-cog" aria-hidden="true"></i>
    <h4>[!L!]Manage Departments[!/L!]</h4>
    </a>
    {UPDATES}
    {EXPIRE}
    {OVERLICENCE}
    {NOTIFICATIONS}
    {CODE}

    <script type="text/javascript" src="{CURRENT_VERSION_FOLDER}js/jquery.scrollTo-1.4.2-min.js"></script>

</div> 