<h1 class="windowtitle">{PAGE_TITLE}</h1>
<div id="licensing" class="selectemployee panelrow productivitypage"> {MESSAGE}
  <fieldset>
    <div class="row">
    <div  class="req col-sm-3">
      <label for="company_name">[!L!]Company Name[!/L!]</label>
      <span>
      <input type="text" id="company_name" name="company_name" value="{COMPANY_NAME}" disabled="disabled" />
      </span> </div>
    <div  class="req even col-sm-3">
      <label for="name">[!L!]Name[!/L!]</label>
      <span>
      <input type="text" id="name" name="name" value="{NAME}" disabled="disabled"/>
      </span> </div>
    <div  class="req col-sm-3">
      <label for="email">[!L!]Email[!/L!]</label>
      <span>
      <input type="text" id="email" name="email" value="{EMAIL}" disabled="disabled"/>
      </span> </div>
    <div class="even col-sm-3">
      <label for="phone">[!L!]Phone[!/L!]</label>
      <span>
      <input type="text" id="phone" name="phone" value="{PHONE}" disabled="disabled"/>
      </span> </div>
    <div class="req col-sm-3">
      <label for="country">[!L!]Country[!/L!]</label>
      <select id="country" name="country" disabled="disabled">{COUNTRY}</select></div>
	<div class="req even col-sm-3">
      <label for="permanent">[!L!]Permanent[!/L!]</label>
      <span>
      <input type="text" id="permanent" name="permanent" value="{PERMANENT}" disabled="disabled"/>
      </span> </div>
  </fieldset>
  <div class="row">
  <div class="calendar col-sm-3"> 
    <label><strong>{TIMEPREFIX}</strong></label> {START} - {END}
    <div id="timeprogressbar"></div>
  </div>
  <div class="licence-computers col-sm-3"> 
    <label><strong>[!L!]Computers:[!/L!]</strong></label> {HAS_COMPUTERS} / {COMPUTERS}
    <div id="computersprogressbar" class="{OVERLOW}"></div>
  </div></div>
     <div class="buttons1">
       <a href="index.php?pag=changelicense" class="positive">[!L!]Change License[!/L!]</a>
     </div>
</div>


</div>
