<div id="wrap">
  <div id="mainwrap">
    <div class="info">[!L!]The default username is <strong>admin</strong> (Administrator account) and the default password is <strong>admin</strong>.<br  /> 
    You can change these credentials after your first login.[!/L!]</div>
    {MESSAGE}
    <div id="innercontentwrapper">
      <div id="content">
        <fieldset>
          <img src="OC4wLjA=/assets/images/logo.png">
          <form action="{SEND_TO}" method="post">
            <input type="hidden" name="act" value="auth-login">
            <input type="hidden" name="pag" value="login">
            <div>
              <label for="username">[!L!]Username [!/L!]</label>
              <span>
              <input type="text" id="username" name="username" />
              </span> </div>
            <div>
              <label for="password">[!L!]Password[!/L!]</label>
              <span>
              <input type="password" id="password" name="password" />
              </span> </div>
            <div class="buttons"> <span class="submit">
              <button type="submit"><b>[!L!]Login[!/L!]</b></button>
              </span></div>
          </form>
        </fieldset>
      </div>
      <!-- <div id="bottom-lid">&nbsp;</div> -->
    </div>
  </div>
</div>

<!-- <div class="wrapper-page">
           <div class="m-t-40 card-box">
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                        </div>
            </div>


           
  </div>
-->