<!-- BEGIN DYNAMIC BLOCK: ajax -->
<div id="overtime">
  <h1>{PAGE_TITLE}</h1>
  <ul class="filter">
    <li class="time">
      <input type="text" name="time[time]" class="flobn-range" id="time-filter" value="{DEFAULT_VALUE}" /><span class="tooltip" {PDF_HIDE} title="[!L!]Select the desired time frame. The default value is Today's date.[!/L!]">?</span>
    </li>
    <li class="export"> <a href="{HELP_LINK}" target="_blank" id="export-help" {SELECTED_SUPPORT}>[!L!]Explain report[!/L!]</a> <a href="index.php?pag=overtime&act=reports-overtime" id="export-csv" >[!L!]Download CSV[!/L!]</a> <a href="index.php?pag=overtime&act=reports-overtime&format=xls{EXPORT_APP_FILTER}" id="export-xls" >[!L!]Download XLS[!/L!]</a> <a href="index.php?pag=overtime&render=pdf" target="_blank" id="export-pdf" >[!L!]Generate PDF[!/L!]</a> </li>
  </ul>
  <div class="bd-ajax">
  <!-- END DYNAMIC BLOCK: ajax -->
	{NO_DATA_MESSAGE}{ENCRYPTMESSAGERAW}
    <div class="box active average {HIDE_CONTENT}">
      <h3>[!L!]Daily Average[!/L!]</h3>
      <ul>
        <li class="active"><span class="procent">{ACTIVE_PROC}%</span><strong>[!L!]Active[!/L!]</strong> (<span id="stats-active">{ACTIVE}</span>) </li>
        <li class="idle"><span class="procent">{IDLE_PROC}%</span><strong>[!L!]Idle[!/L!]</strong> (<span id="stats-idle">{IDLE}</span>) </li>
        <li class="online"><span class="procent">{ONLINE_PROC}%</span> <strong>[!L!]Online[!/L!]</strong> (<span id="stats-online">{ONLINE}</span>)  </li>
      </ul>
    </div>
    <div class="box {HIDE_CONTENT}">
      <h3>[!L!]Summary of the times of the day[!/L!]</h3>
      <div id="day_summary_chart">[!L!]Loading...[!/L!]</div>
    </div>
    <div class="box {HIDE_CONTENT}">
      <h3>[!L!]Summary of the weekdays[!/L!]</h3>
      <div id="weekday_summary_chart">[!L!]Loading...[!/L!]</div>
    </div>
    <div class="box {HIDE_CONTENT}">
      <h3>[!L!]Application Usage[!/L!]</h3>
      <div id="appusage_chart">[!L!]Loading...[!/L!]</div>
      <div class="right legend" id="appusage"> {APP_USAGE} </div>
    </div>

  <!-- BEGIN DYNAMIC BLOCK: ajax -->
  </div>
</div>
<!-- END DYNAMIC BLOCK: ajax -->
