<style type="text/css">
.list {
    margin-top: 10px;
    width: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #898989;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.list th {
    background-color:#ebebeb;
    border-bottom: 1px solid #D7D7D7;
    color: #474747;
    font-size: 11px;
    font-weight: bold;
    height: 33px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}

.list td {
    border-bottom: 1px solid #D7D7D7;
    padding: 10px 0 10px 10px;
}

.list .even {
	  background-color: #F5F5F5;
}

h1 {
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    margin: 0 0 10px;
}
h2 {
	color: #3D3D3D;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
}
</style>
<h1>[!L!]Title:[!/L!] {TITLE}</h1>
<h2>[!L!]User(Machine) / Group:[!/L!] {USER_DEPARTMENT_NAME}</h2>
<h2>[!L!]Time period:[!/L!] {TIME_PERIOD}</h2>
<table cellspacing="0" class="list" >
  <thead>
    <tr>
      <th class="first-of-type" style="width:209px;"><strong>[!L!]Application[!/L!]</strong></th>
      <th style="width:160px;"><strong>[!L!]Category[!/L!]</strong></th>
	  <th style="width:160px;"><strong>[!L!]User[!/L!]</strong></th>
	  <th style="width:160px;"><strong>%</strong></th>
      <th style="width:160px"><strong>[!L!]Time(h)[!/L!]</strong></th>
      <th style="width:160px"><strong>[!L!]Time(m)[!/L!]</strong></th>
      <th style="width:160px"><strong>[!L!]Time(s)[!/L!]</strong></th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN DYNAMIC BLOCK: application_row -->
    <tr class="{CLASS_APP}">
      <td>{APPLICATION}</td>
	  <td>{CATEGORY}</td>
	  <td>{USER}</td>
      <td>{PROCENT}</td>
      <td>{TIME_H}</td>
      <td>{TIME_M}</td>
      <td>{TIME_S}</td>
    </tr>
    <!-- END DYNAMIC BLOCK: application_row -->
  </tbody>
</table>
