<div class="update" id="mastcontent">
  <div class="gtop">&nbsp;</div>
  <div class="gcontent">
    <div id="update-content" class="innerborder">
      <h1>[!L!]Updating[!/L!]</h1>
      <div id="progressbar" style="height:40px"></div>
      <p>[!L!]Please wait while we update your Cyclope instalation to the latest version.[!/L!]</p>
      <a href="#" class="expand right" style="color:#333">[!L!]more[!/L!]</a><div class="notes" style="color:#333">{NOTES}</div>
      <ul class="checklist">
      	<li>[!L!]Progress:[!/L!]</li>
        <li class="working hide">[!L!]Downloading update[!/L!]</li>
        <li class="hide working">[!L!]Extracting Update[!/L!]</li>
        <li class="hide working">[!L!]Executing batch file for SQL updates[!/L!]</li>
      </ul>
      <fieldset>
        <div class="buttons hide" id="finalize-action" > <span class="submit">
          <button type="button"><b>[!L!]Finish[!/L!]</b></button>
          </span> </div>
         <div class="buttons hide" id="cancel-action" > <span class="submit">
          <button type="button"><b>[!L!]Cancel[!/L!]</b></button>
          </span> </div>
      </fieldset>
    </div>
  </div>
  <div class="gbottom">&nbsp;</div>
</div>
