{PDF_HEADER} {NO_DATA_MESSAGE}
 {DEBUGMESSAGE}
      <input type="hidden" name="sortcolumn" class="sortcolumn" id="sortcolumn" />
      <input type="hidden" name="sortorder" class="sortorder" id="sortorder" />
<div class="table-responsive">
<table cellspacing="0" class="list application table filter bgwhite {HIDE_CONTENT}{PDF_CLASS}">
  <thead>
    <tr>
      <th class="first-of-type"><strong><a {ANCHOR_INNER_1} href="">[!L!]Name[!/L!]</a></strong></th>
      <th><strong>[!L!]Computer[!/L!]</strong></th>
      <th><strong><a {ANCHOR_INNER_0} href="">[!L!]Date/Time[!/L!]</a></strong></th>
      <th><strong><a {ANCHOR_INNER_2} href="">[!L!]Pages[!/L!]</a></strong></th>
      <th><strong>[!L!]Printer Name[!/L!]</strong></th>
      <th><strong>[!L!]Filename[!/L!]</strong></th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN DYNAMIC BLOCK: template_row -->
    <tr>
      <td class="namewidth">{NAME}</td>
      <td class="compwidth">{COMPUTER}</td>
      <td class="datewidth">{DATE}</td>
      <td class="actionwidth" style="text-align:center;">{PAGENUM}</td>
      <td class="typewidth">{PRINTER}</td>
      <td class="pathwidth">{PATH}</td>
    </tr>
    <!-- END DYNAMIC BLOCK: template_row -->
  </tbody>
</table>
</div>
<div class="pagination"{PDF_HIDE}>
  <ul>
    <li>[!L!]Go To[!/L!]:
      <input type="text"  data-page="{FILTER_PAGE}" class="p" value="" name="offset" />
    </li>
    <li>[!L!]Show Rows[!/L!]:
      <select class="rp" data-page="{FILTER_PAGE}">
        {PAGES}
      </select>
    </li>
    <li>{INTERVAL} <span>[!L!]of[!/L!]</span> {TOTAL}</li>
    <li><a href="{BACKLINK}" class="prev">&nbsp;</a></li>
    <li><a href="{NEXTLINK}" class="next">&nbsp;</a></li>
  </ul>
</div>
