<!-- BEGIN DYNAMIC BLOCK: template_row -->
<li class="{CLASS}" data-department="{DEPARTMENT}">
  <table cellspacing="0" class="">
    <tbody>
      <tr>
        <td class="td-application"><div><ins>&nbsp;</ins><span title="{NAME}">{NAME}</span></div></td>
        <td class="td-category"><div><a href="#" class="category" rel="{ID}" rev="#cat{CATEGORY_ID}" type ="{CHILD_TYPE}">{CATEGORY}</a></div></td>
        <td class="td-type"><div class="first-of-type"> <span class="slider flobn-slider {CSS_CLASS}" rel="{ID}" data-duration="{DURATION}" data-parentapp="{APPLICATION_ID}" data-first-parentapp="{FIRST_APPLICATION_ID}"  data-childtype="{CHILD_TYPE}"><a class="handle">&nbsp;</a></span> <span style="text-align:center;">{TYPE}</span></div></td>
        <td class="td-time"><div>{TIME}</div></td>
        <td class="td-activeperc"><div>{WIDTH}%</div></td>
      </tr>
    </tbody>
  </table>
</li>
<!-- END DYNAMIC BLOCK: template_row -->