{PDF_HEADER}<span class="tooltip tabbed" title="[!L!]This report shows a top of the employees from the selected department, sorted by the unproductive time recorded for each one. The most unproductive are first. This report can be filtered by date and working schedule.[!/L!]">?</span>
		  <div id="unproductive_chart" style="padding-left:20px;" class="{HIDE_UNPRODUCTIVE}">{TOPBAR_CHART}</div>
<table cellspacing="0" class="list application topapplications {PDF_CLASS}" >
  <thead>
    <tr>
      <th class="first-of-type" style="width:150px;"><strong>[!L!]Employee[!/L!]</strong></th>
	  <th style="width:100px; text-align:center;"><strong>[!L!]Cost[!/L!]</strong></th>
	  <th style="width:100px; text-align:center;"><strong>[!L!]Currency[!/L!]</strong></th>
	  <th style="width:125px; text-align:center;"><strong>[!L!]Active Time[!/L!]</strong></th>
      <th style="width:175px; text-align:center;"><strong>[!L!]Unproductive Time[!/L!]</strong></th>
	  <th style="width:110px" class="th-activeperc"><strong>[!L!]% from Active Time[!/L!]</strong></th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN DYNAMIC BLOCK: template_row -->
    <tr>
      <td><b style="background-color:#{COLOR}"></b>{NAME}</td>
	  <td style="text-align:center;">{COST}</td>
	  <td style="text-align:center;">{CURRENCY}</td>
	  <td style="text-align:center;">{TOTAL}</td>
      <td style="text-align:center;">{TIME}</td>
	  <td class="td-activeperc" style="text-align:center;"><div>{PROCENT}%</div></td>
    </tr>
    <!-- END DYNAMIC BLOCK: template_row -->
  </tbody>
</table>