<!-- BEGIN DYNAMIC BLOCK: template_row -->
<li class="{CLASS}" >
  <table cellspacing="0" class="">
    <tbody style="margin-left:10px;">
      <tr>
        <td  style="padding-left:10px; border-bottom: none;" ><div  class="{FIRST}" id="search_name2"><span class="search_name_span">{NAME} </span></div></td>
        <td  style=" border-bottom: none;"><div class="{FIRST}" id="search_date_expanded"><span class="search_date_span">{DATE} </span></div></td>
      </tr>
    </tbody>
  </table>
</li>
<!-- END DYNAMIC BLOCK: template_row -->