
<div id="searchpage">
  <h1>Search Results</h1>
 
  

    <table cellspacing="0" class="list application">
  <thead>
    <tr>
      <th style="width:120px"><strong>[!L!]Monitored Employees [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{NAME_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th style="width:120px"><strong>[!L!]Computers [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{COMPUTER_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th  style="width:120px"><strong>[!L!]Applications [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{APPLICATION_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th style="width:120px"><strong>[!L!]Document [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{DOCUMENT_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th  style="width:120px"><strong>[!L!]Internet activity [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{INTERNET_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th style="width:120px"><strong>[!L!]Chat activity [!/L!]</strong></th>
      <th style="width:125px;"><strong><img width="16" height="16" alt="" src="{CURRENT_VERSION_FOLDER}img/wizard_add.png"></strong></th>
      <th style="width:270px;"><strong>{CHAT_COUNT}[!L!] results[!/L!]</strong></th>
    </tr>
  </thead>
</table>
</div>
