<!-- BEGIN DYNAMIC BLOCK: template_row -->
<li class="{CLASS}">
  <table cellspacing="0" class="">
    <tbody>
      <tr>
        <td style="padding-left:10px; border-bottom: none;"><div class="{FIRST}" id="search_item"><span class="search_name_span">{ITEM_NAME}&nbsp</span></div></td>
        <td  style=" border-bottom: none;"><div class="{FIRST}" id="search_name"><span class="search_name_span">{NAME}</span></div></td>
        <td  style=" border-bottom: none;"><div class="{FIRST}" id="search_duration"><span class="search_date_span">{DURATION_D}d&nbsp{DURATION_H}h&nbsp{DURATION_M}m {DURATION_S}s</span></div></td>
        <td  style=" border-bottom: none;"><div class="{FIRST}" id="search_date"><span class="search_date_span"> {DATE}</span></div></td>
      </tr>
    </tbody>
  </table>
</li>
<!-- END DYNAMIC BLOCK: template_row -->